export LDAP_HOST='localhost'
export LDAP_PORT=3389
export ADMIN_DN='cn=admin,dc=example,dc=com'
export PEOPLE_DN='ou=People,dc=example,dc=com'

export ADMIN_PW='AIzygLSXlArhAMzddUriXQxf7UlkqopP'

export REGISTRATION_OPEN=true
export REGISTRATION_OU=''
